/* currency-grid.component.css */

.currency-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.currency-card {
  background-color: #312424;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.currency-card h3 {
  font-size: 20px;
}
